<?xml version="1.0"?>
<configuration>
  <facilities>
    <!--NHibernate Facility-->
    <facility id="nhibernatefacility" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" isWeb="true">
      <factory id="SweetFlyDb" alias="SweetFlyDb">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SQLite20Driver</item>
          <item key="connection.connection_string_name">SweetFlyDb</item>
          <item key="dialect">NHibernate.Dialect.SQLiteDialect</item>
          <item key="query.substitutions">true=1;false=0</item>
          <item key="show_sql">true</item>
          <!--<item key="command_timeout">120</item>-->
          <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
          <item key="current_session_context_class">web</item>
        </settings>
        <assemblies>
          <assembly>SweetFly.Model</assembly>
        </assemblies>
      </factory>
      
    </facility>
  </facilities>
</configuration>