<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>

    @RenderSection("Header", false)
</head>
<body>
    <!--header-->
    <!--header--//-->

    @RenderBody()

    <!--footer-->
    <div style="text-align: center; margin: 50px 0; font: normal 14px/24px 'MicroSoft YaHei';">
        <p>建议使用 Chrome浏览器 以获得最佳体验. 不支持IE8及以下浏览器。</p>
        <p>©2014 SweetFly.Net. All Rights Reserved.</p>
    </div>
    <!--footer--//-->
</body>
</html>
